{% import 'utils.j2' as utils %}
{% call utils.autogen() %} {% endcall %}

name: build {{ ctx.name }}
on:
  push:
    paths:
      - 'Formula/{{ ctx.name }}@*'
      - '.github/workflows/build-{{ ctx.name }}.yaml'

jobs:
  prepare_bintary:
    runs-on: ubuntu-latest
    steps:
      - name: delete package
        shell: bash
        run: |
          curl --request DELETE \
{%- raw %}
            --user "${{ secrets.BINTRAY_USERNAME }}:${{ secrets.BINTRAY_API_KEY }}" \
{% endraw %}
            --url https://api.bintray.com/packages/curoky/prebuild-binary/{{ ctx.name }}

      - name: create package
        shell: bash
        run: |
          curl --request POST \
{%- raw %}
            --user "${{ secrets.BINTRAY_USERNAME }}:${{ secrets.BINTRAY_API_KEY }}" \
{% endraw %}
            --url https://api.bintray.com/packages/curoky/prebuild-binary \
            --header 'content-type: application/json' \
            --data '{"name": "{{ ctx.name }}","licenses": ["GPL-3.0"],"vcs_url": "https://github.com/curoky/prebuild-binary","website_url": "https://github.com/curoky/prebuild-binary","issue_tracker_url": "https://github.com/curoky/prebuild-binary/issues","public_download_numbers": true,"public_stats": true}'

  install:
    needs: [prepare_bintary]
    strategy:
      fail-fast: false
      max-parallel: 20
      matrix:
        os: [ubuntu20.04]
        version:
{% for v in ctx.versions %}
          - '{{ v }}'
{% endfor %}

    runs-on: ubuntu-latest

    container:
      image: {{ 'homebrew/${{ matrix.os }}' }}

    env:
      HOMEBREW_NO_ANALYTICS: 1
      HOMEBREW_NO_AUTO_UPDATE: 1

    steps:
      - uses: actions/checkout@v2

      - name: Install and test
        uses: curoky/actions/brew-tap-install-test@master
        with:
          formula: {{ ctx.name }}@{{ '${{ matrix.version }}' }}
          upgrade: true

{% for bin in ctx.bins %}
      - name: Upload package to Bintray
        uses: curoky/actions/bintary-upload@master
        with:
          package: {{ ctx.name }}
          remote_filepath: {{ '${{ matrix.version }}' }}/{{ bin }}
          local_filepath: /home/linuxbrew/.linuxbrew/opt/{{ ctx.name }}@{{ '${{ matrix.version }}' }}/bin/{{ bin }}
{% raw %}
          api_user: ${{ secrets.BINTRAY_USERNAME }}
          api_key: ${{ secrets.BINTRAY_API_KEY }}
          repository_user: curoky
          repository: prebuild-binary
          version: ${{ matrix.version }}
          publish: 1
          override: 1
{% endraw %}
{% endfor %}
