{% import 'utils.j2' as utils %}
{% call utils.autogen() %} {% endcall %}

name: build {{ ctx.name }}
on:
  push:
    paths:
      - 'Formula/{{ ctx.name }}@*'
      - '.github/workflows/build-{{ ctx.name }}.yaml'

jobs:
  install:
    strategy:
      fail-fast: false
      max-parallel: 20
      matrix:
        os: [ubuntu20.04]
        version:
{% for v in ctx.versions %}
          - '{{ v }}'
{% endfor %}

    runs-on: ubuntu-latest
    container:
      image: {{ 'homebrew/${{ matrix.os }}' }}

    env:
      HOMEBREW_NO_ANALYTICS: 1
      HOMEBREW_NO_AUTO_UPDATE: 1

    steps:
      - uses: actions/checkout@v2
      - run: brew tap curoky/tap
      - name: Install and test
        uses: curoky/actions/brew-tap-install-test@master
        with:
          formula: {{ ctx.name }}@{{ '${{ matrix.version }}' }}
          upgrade: true
          install_args: "--verbose"
          test_args: "--verbose"

{% for bin in ctx.bins %}
      - name: update binary to release
        uses: svenstaro/upload-release-action@2.2.1
        with:
          tag: binary
          overwrite: true
          file: /home/linuxbrew/.linuxbrew/opt/{{ ctx.name }}@{{ '${{ matrix.version }}' }}/bin/{{ bin }}
          asset_name: {{ bin }}-{{ '${{ matrix.version }}' }}
          repo_token: {{ '${{ secrets.GH_UPLOAD_KEY }}' }}
{% endfor %}
