version: "3"

includes:
  lib:
    taskfile: ../common/Taskfile.yaml
    flatten: true

tasks:
  # GUI APP
  # iina: nix-env -p ~/nix/profiles/prebuilt -iA nixpkgs.iina
  # snipaste: nix-env -p ~/nix/profiles/prebuilt -iA nixpkgs.snipaste
  # keka: nix-env -p ~/nix/profiles/prebuilt -iA nixpkgs.keka
  # kap: nix-env -p ~/nix/profiles/prebuilt -iA nixpkgs.kap
  # obs-studio: nix-env -p ~/nix/profiles/prebuilt -iA nixpkgs.obs-studio

  # others
  silver-searcher: nix-env -p ~/nix/profiles/prebuilt -iA nixpkgs.pkgsStatic.silver-searcher
  llvmPackages_18.clang-unwrapped: nix-env -p ~/nix/profiles/prebuilt -iA nixpkgs.llvmPackages_18.clang-unwrapped

  aria2:
    - task: setup-2411
    - nix-env -I old=$HOME/.nix-defexpr/channels/old -p ~/nix/profiles/prebuilt -iA old.pkgsStatic.aria2
