name: build llvm-tools

on:
  # push:
  #   branches:
  #     - master
  # push:
  #   paths:
  #     - ".github/workflows/build.yaml"
  #     - "pkgs/**"
  #     - "tasks/**"
  #     - "scripts/**"
  workflow_dispatch:
    inputs:
      name:
        description: "package name"
        default: ""
        required: false
        type: string
  schedule:
    - cron: "0 0 * * 0"

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    strategy:
      matrix:
        version:
          - 18
          - 19
          - 20
          - 21
          # - 22
    steps:
      - run: echo "skip_steps=true" >> $GITHUB_ENV
      - run: echo "skip_steps=false" >> $GITHUB_ENV
        if: ${{ (github.event_name == 'schedule') || (github.event_name == 'workflow_dispatch') || (github.event_name == 'push' && github.ref == 'refs/heads/master') }}

      - uses: actions/checkout@v5
        if: ${{ env.skip_steps != 'true' }}

      - run: tools/free-disk-space.sh
        if: ${{ env.skip_steps != 'true' }}

      - name: Set up Swap Space
        if: ${{ env.skip_steps != 'true' }}
        uses: pierotofy/set-swap-space@master
        with:
          swap-size-gb: 10

      - run: ./docker/build.sh clang_${{ matrix.version }} linux-x86_64
        if: ${{ env.skip_steps != 'true' }}

      - run: docker system prune -a --force
        if: ${{ env.skip_steps != 'true' }}

      - name: pack clang-format
        if: ${{ env.skip_steps != 'true' }}
        run: |
          mkdir -p tmp
          tar -x --gunzip -f clang_${{ matrix.version }}.linux-x86_64.tar.gz -C tmp --strip-components=1
          mkdir -p clang-format_${{ matrix.version }}/bin
          cp tmp/bin/clang-format clang-format_${{ matrix.version }}/bin/clang-format-${{ matrix.version }}
          tar -c --gunzip -f clang-format_${{ matrix.version }}.linux-x86_64.tar.gz clang-format_${{ matrix.version }}
          mkdir -p lld_${{ matrix.version }}/bin
          cp tmp/bin/lld lld_${{ matrix.version }}/bin/lld-${{ matrix.version }}
          tar -c --gunzip -f lld_${{ matrix.version }}.linux-x86_64.tar.gz lld_${{ matrix.version }}

      - uses: svenstaro/upload-release-action@v2
        if: ${{ env.skip_steps != 'true' }}
        with:
          file: clang_${{ matrix.version }}.linux-x86_64.tar.gz
          asset_name: clang_${{ matrix.version }}.linux-x86_64.tar.gz
          tag: "v1.0"
          overwrite: true

      - uses: svenstaro/upload-release-action@v2
        if: ${{ env.skip_steps != 'true' }}
        with:
          file: clang-format_${{ matrix.version }}.linux-x86_64.tar.gz
          asset_name: clang-format_${{ matrix.version }}.linux-x86_64.tar.gz
          tag: "v1.0"
          overwrite: true

      - uses: svenstaro/upload-release-action@v2
        if: ${{ env.skip_steps != 'true' }}
        with:
          file: lld_${{ matrix.version }}.linux-x86_64.tar.gz
          asset_name: lld_${{ matrix.version }}.linux-x86_64.tar.gz
          tag: "v1.0"
          overwrite: true

      - uses: mxschmitt/action-tmate@v3
        if: ${{ failure() }}
        timeout-minutes: 30
