name: build darwin

on:
  push:
    branches:
      - master
  # push:
  #   paths:
  #     - ".github/workflows/build.yaml"
  #     - "pkgs/**"
  #     - "tasks/**"
  #     - "scripts/**"
  workflow_dispatch:
    inputs:
      name:
        description: 'package name'
        default: ''
        required: false
        type: string
  schedule:
    - cron: '0 0 * * 0'

env:
  CACHED_PKG: '["aria2", "flex", "gdb", "uv", "yazi", "starship", "fd", "bison", "protobuf_27", "protobuf_28", "protobuf_29"]'

jobs:
  build:
    runs-on: macos-15
    permissions:
      contents: write
    strategy:
      matrix:
        include:
          - name: aria2
          - name: atuin
          - name: autoconf
          - name: automake
          - name: bash
          - name: bat
          - name: bazelisk
          - name: binutils
          - name: bison
          - name: buildifier
          - name: bzip2
          - name: cacert
          # - name: cloc
          # - name: cmake
          - name: connect
          - name: coreutils
          - name: croc
          # - name: cronie # TODO: export NIXPKGS_ALLOW_UNSUPPORTED_SYSTEM=1
          - name: curl
          - name: diffutils
          - name: dive
          - name: dool
          # - name: ethtool # TODO: export NIXPKGS_ALLOW_UNSUPPORTED_SYSTEM=1
          # - name: exiftool
          - name: eza
          - name: fd
          - name: file
          - name: findutils
          - name: flex
          - name: fzf
          - name: gawk
          - name: gdb
          - name: gdu
          - name: getopt
          - name: gettext
          - name: gh
          # - name: git
          - name: git-absorb
          - name: git-extras
          - name: git-filter-repo
          - name: git-lfs
          # - name: glibcLocales
          - name: gnugrep
          - name: gnumake
          - name: gnupatch
          # - name: gnupg
          - name: gnused
          - name: gnutar
          - name: go-task
          - name: gost
          - name: gzip
          # - name: indent
          - name: inetutils
          # - name: iproute2
          # - name: iptables
          # - name: iputils
          - name: jq
          # - name: krb5
          - name: lefthook
          - name: less
          # - name: libcap
          - name: libtool
          # - name: lsb-release
          - name: lsof
          # - name: lua
          - name: m4
          - name: makeself
          # - name: man
          # - name: miniserve
          # - name: music-decrypto
          - name: ncdu_1
          - name: netcat
          - name: netron
          # - name: nettools
          - name: ninja
          # - name: nixfmt
          # - name: nsight-systems
          # - name: numactl
          # - name: openssh_gssapi
          - name: openssl
          - name: p7zip
          # - name: parallel
          - name: patchelf
          # - name: perl
          - name: pkg-config
          # - name: procps
          - name: procs
          - name: protobuf_23
          - name: protobuf_24
          - name: protobuf_25
          - name: protobuf_26
          - name: protobuf_27
          - name: protobuf_28
          - name: protobuf_29
          - name: protobuf_3_8_0
          - name: protobuf_3_9_2
          - name: protobuf3_20
          - name: protobuf3_21
          # - name: python311
          # - name: python312
          # - name: python313
          - name: rime-plugs
          - name: ripgrep
          - name: rsync
          - name: ruff
          - name: scc
          - name: shfmt
          - name: snappy
          - name: starship
          # - name: strace
          # - name: tmux
          - name: tmux-plugs
          - name: tree
          - name: tzdata
          - name: unzip
          - name: util-linux
          - name: uv
          - name: vim
          - name: vim-plugs
          # - name: wget
          - name: xxd
          - name: xz
          - name: yazi
          # - name: zellij
          - name: zip
          - name: zlib
          - name: zlib-ng
          - name: zsh
          - name: zsh-bundle
          - name: zsh-plugs
          - name: zstd

          - name: lxgw-wenkai
          - name: fira-code
          - name: nerd-fonts.fira-code
          - name: nerd-fonts.ubuntu-mono

          # - name: silver-searcher
          # - name: zsh

          # > meson.build:6:0: ERROR: 'objc' compiler binary not defined in cross file [binaries] section
          # - name: parallel

          # FileNotFoundError: [Errno 2] No such file or directory: 'lipo'
          # - name: wget

          # configure: error: C compiler cannot create executables
          # - name: ruff

          #  > ./Modules/ossaudiodev.c:42:10: fatal error: 'sys/soundcard.h' file not found
          # - name: python311

          # dep perl, and perl failed with ar command not found
          # - name: exiftool
          # - name: smartmontools

    steps:
      - run: echo "skip_steps=true" >> $GITHUB_ENV
      - run: echo "skip_steps=false" >> $GITHUB_ENV
        if: ${{ (github.event_name == 'workflow_dispatch' && (inputs.name == matrix.name || inputs.name == '*')) || (github.event_name == 'push' && github.ref == 'refs/heads/master') || github.event_name == 'schedule' }}

      - uses: Homebrew/actions/setup-homebrew@main
        if: ${{ env.skip_steps != 'true' }}

      - run: echo "/opt/homebrew/opt/binutils/bin" >> $GITHUB_PATH
      - run: echo "/opt/homebrew/opt/gnu-sed/libexec/gnubin" >> $GITHUB_PATH
      - run: brew install go-task binutils gnu-sed
        if: ${{ env.skip_steps != 'true' }}

      - uses: actions/checkout@v5
        if: ${{ env.skip_steps != 'true' }}

      - uses: actions/setup-python@v6
        if: ${{ env.skip_steps != 'true' }}
        with:
          python-version: '3'

      - uses: nixbuild/nix-quick-install-action@v34
        if: ${{ env.skip_steps != 'true' }}
        with:
          nix_conf: |
            keep-env-derivations = true
            keep-outputs = true

      - name: Restore and save Nix store
        uses: nix-community/cache-nix-action@v6
        if: ${{ env.skip_steps != 'true' && contains(fromJSON(env.CACHED_PKG), matrix.name) }}
        with:
          # restore and save a cache using this key
          primary-key: nix-${{ runner.os }}-${{ matrix.name }}-${{ hashFiles('**/*.nix') }}
          # if there's no cache hit, restore a cache by this prefix
          restore-prefixes-first-match: nix-${{ runner.os }}-${{ matrix.name }}-
          # collect garbage until the Nix store size (in bytes) is at most this number
          # before trying to save a new cache
          # 1G = 1073741824
          gc-max-store-size: 100M
          # do purge caches
          purge: true
          # purge all versions of the cache
          purge-prefixes: nix-${{ runner.os }}-${{ matrix.name }}-
          # created more than this number of seconds ago
          purge-created: 0
          # or, last accessed more than this number of seconds ago
          # relative to the start of the `Post Restore and save Nix store` phase
          purge-last-accessed: 0
          # except any version with the key that is the same as the `primary-key`
          purge-primary-key: true

      # - name: setup channel
      #   if: ${{ env.skip_steps != 'true' }}
      #   run: |
      #     nix-channel --add https://nixos.org/channels/nixos-24.11 nixpkgs
      #     nix-channel --update

      - run: |
          task -t tasks/common/Taskfile.yaml setup
          task -t tasks/darwin-arm64/Taskfile.yaml ${{ matrix.name }}
          ./scripts/pack.py
          ./scripts/patch.sh ${{ matrix.name }} tmp/output
          cd tmp
          mv output ${{ matrix.name }}
          tar -czvf ${{ matrix.name }}.darwin-arm64.tar.gz ${{ matrix.name }}
        if: ${{ env.skip_steps != 'true' }}
        env:
          NIXPKGS_ALLOW_UNFREE: 1

      - uses: svenstaro/upload-release-action@v2
        if: ${{ env.skip_steps != 'true' }}
        with:
          file: tmp/${{ matrix.name }}.darwin-arm64.tar.gz
          asset_name: ${{ matrix.name }}.darwin-arm64.tar.gz
          tag: 'v1.0'
          overwrite: true

      - uses: fawazahmed0/action-debug-vscode@main
        if: ${{ failure() }}
        timeout-minutes: 60
